    @media only screen and (min-width: 320px) {
        /* Styles here */
        /* styling the navigation */
        .container-nav {
            margin: 0 auto;
            background: #026953;
            padding: 0 auto;
            width: auto;
            overflow: hidden;
        }
        .logo-nav,
        .main-logo {
            display: block;
            width: 70%;
            margin: 0 auto;
        }
        #head>a {
            display: inline-block;
            padding-top: none;
            font-size: 1em;
            margin: 0px auto;
        }
        #head>a::before,
        #head>a::after {
            display: block;
            opacity: 0;
        }
        #head>a::before {
            margin-right: 0px;
            content: none;
        }
        #head>a::after {
            margin-left: 0px;
            content: none;
        }
        a.active {
            border: 1px solid #fff;
            padding: 3px;
        }
        /* Styling the slide */
        .slider {
            display: block;
            width: 100%;
            height: 250px;
            overflow-y: hidden;
            margin-top: 0%;
        }
        .slider .slidea {
            display: block;
            width: 100%;
            height: 250px;
        }
        .slidea p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 1.5em;
            color: #fff;
            margin-top: 23%;
        }
        .slidea a {
            display: none;
        }
        /* styling Empowering Section  */
        .text {
            margin-top: 0%;
            font-size: 1em;
            letter-spacing: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .container_icon {
            width: 100%;
            height: auto;
            padding-top: 2%;
            margin-bottom: 0;
        }
        .icon {
            width: 100%;
            display: block;
        }
        .icon p,
        .icon img,
        .icon h3,
        {
            margin: 0 auto;
            padding: 0 2%;
            text-align: center;
            align-items: center;
            text-decoration: none;
        }
        .icon p {
            padding-top: 3%;
            font-size: 1em;
            width: 80%;
        }
        .icon h3 {
            padding-top: 3%;
            font-size: 1.1em;
            letter-spacing: 1px;
            font-family: "Merriweather";
            color: #026953;
        }
        .icon img {
            width: 35%;
            margin-top: 6%;
        }
        .icon img:hover {
            transform: none;
        }
    }
    
    @media only screen and (min-width: 768px) {
        /* Styles here */
    }
    
    @media only screen and (min-width: 1200px) {
        /* Styles here */
    }
    
    @media only screen and (min-width: 1600px) {
        /* Styles here */
    }