/* Extra small devices (phones, 600px and down) */

@media (min-width: 200px) and (max-width: 600px) {
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:300,400,700');
    /* reset  css browser*/
    * {
        border: 0;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        font-family: "lato", "Merriweather", Arial, Helvetica, sans-serif;
    }
    /* styling the navigation */
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .container-nav {
        position: absolute;
        margin: 0 auto;
        background: #026953;
        top: 0;
        left: 0;
        width: 100%;
    }
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        /* padding-top: 5px;
          padding-left: 10px;
          padding-right: none;
          padding-bottom: 10px; */
    }
    nav>ul>li a {
        color: #fff;
        text-decoration: none;
        font-size: .8em;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #logo {
        display: block;
        position: absolute;
        margin: 10px;
        width: 60%;
        height: 50px;
        background: url(../images/CCE_logoBW.svg) no-repeat center;
        z-index: 10000;
    }
    nav>ul>li a.active {
        background-color: #f9e40d;
        padding: 10px;
        color: #026953;
    }
    /* Toggle menu */
    nav {
        float: right;
        padding: 10px;
        font-family: 'lato', sans-serif;
    }
    nav li {
        display: inline-block;
        text-align: right;
        width: 97%;
        padding: 5px 0;
        margin: 0;
    }
    a::before {
        content: none;
    }
    a::after {
        margin-left: 0px;
        content: none;
    }
    a:hover,
    a:focus {
        outline: none;
        background: none;
    }
    a.active {
        background: none;
        padding: 3px;
    }
    .slider {
        padding-top: 20%;
    }
    .slidea {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/forest-floor-1031143_1920.jpg);
        overflow: hidden;
        padding-top: 10%;
        height: 300px;
    }
    .slidea p {
        align-items: center;
        text-align: center;
        font-family: "Merriweather";
        font-size: 1.6em;
        font-weight: 100;
        color: #fff;
        margin-top: 30%;
    }
    /* styling Empowering Section  */
    .text {
        background: #f9e40d;
        text-align: center;
        color: #026953;
        font-family: "lato";
        font-size: 1.em;
        letter-spacing: 2px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .container_icon {
        width: 100%;
        height: auto;
        padding-top: 2%;
        margin-bottom: 3%;
    }
    .icon {
        width: 100%;
    }
    .icon p,
    .icon img,
    .icon h3,
    .icon a {
        margin: 0 auto;
        display: flex;
        padding: 0 2%;
        text-align: justify;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .icon p {
        padding-top: 3%;
        font-size: 1em;
        width: 80%;
    }
    .icon h3 {
        padding-top: 3%;
        font-size: 1.1em;
        letter-spacing: 1px;
        font-family: "Merriweather";
        color: #026953;
    }
    .icon img {
        width: 35%;
        margin-top: 6%;
        transition: transform 1s;
    }
    .icon img:hover {
        transform: none;
    }
    .icon a {
        font-family: "lato";
        letter-spacing: 2px;
        font-size: .7em;
        font-weight: 700;
        color: #fff;
        width: 30%;
        margin: 5% auto;
        padding: 20px 20px;
        text-transform: uppercase;
        background-color: #d35400;
    }
    .icon a:hover {
        background-color: #026953;
        transition: all fade-in 1s;
    }
    /* Protection section */
    #empower {
        max-height: 500px;
        margin-top: 5%;
        width: 100%;
        background: #026953;
    }
    .group hr {
        border: .5px solid #fff;
        width: 30%;
        margin-top: 20px;
    }
    .left {
        display: block;
        height: 200px;
        width: 100%;
        background-image: url(../images/mountains-889131.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .right {
        display: block;
        width: 100%;
        height: 500px;
        background: #026953;
        color: #fff;
        overflow: hidden;
    }
    .group {
        padding: 3% 8%;
    }
    .group h2 {
        font-size: 1.9em;
        font-weight: 100;
        width: 100%;
        font-family: "Merriweather";
        letter-spacing: 1px;
        line-height: 1.2em;
    }
    .group p {
        display: none;
    }
    /* ==================================================== */
    /* changing list number font size and font family */
    .group ol {
        list-style-type: none;
        counter-reset: listNumbering;
    }
    .group ol>li {
        font-size: 1em;
        counter-increment: listNumbering;
    }
    .group ol>li:before {
        content: counter(listNumbering, decimal-leading-zero)'.';
        font-size: 2em;
        padding-top: none;
    }
    .group li {
        font-family: "lato";
        font-weight: 300;
        width: 100%;
        text-align: justify;
    }
    /* End changing list number font size and font family */
    /* ==================================================== */
    .group li {
        margin-top: 5%;
    }
    .action {
        margin-top: 20px;
        color: #fff;
        padding: 3%;
        background-color: #d35400;
        font-size: .9em;
        text-decoration: none;
    }
    .action a:hover {
        background-color: #2CA343;
        transition: all ease-in-out 1s;
    }
    /* ClearFix */
    .clearFix {
        clear: both;
    }
    /* End of ClearFix */
    /* Container Mission Page */
    .mission h2 {
        font-family: "Merriweather";
        text-align: center;
        color: #026953;
        font-size: 2.4em;
        font-weight: 100;
        letter-spacing: 1px;
        margin-top: 4%;
    }
    .mission>p {
        text-align: justify;
        margin: auto 7%;
        font-size: 1em;
    }
    .container_mission {
        width: 100%;
        height: auto;
        padding-top: 3%;
        margin-bottom: 3%;
    }
    .iconM p,
    .iconM img,
    .iconM h3 {
        padding: 0 5%;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        font-size: 1em;
    }
    .iconM>p {
        padding-top: 3%;
        line-height: 1.em;
    }
    .iconM h3 {
        margin-top: 4%;
        font-size: 1.4em;
        letter-spacing: 1px;
        font-family: "Merriweather";
        color: #026953;
        text-align: center;
    }
    .iconM {
        width: 100%;
        padding: 2%;
    }
    .iconM>img {
        width: 100%;
        transition: none;
    }
    .iconM img:hover {
        transform: none;
    }
    .mission a {
        display: flex;
        width: 50%;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        font-family: "lato";
        letter-spacing: 2px;
        font-size: 1em;
        font-weight: 700;
        color: #fff;
        margin: 2% auto;
        padding: 20px 50px;
        text-transform: uppercase;
        background-color: #d35400;
    }
    .mission a:hover {
        background-color: #026953;
        transition: all fade-in 1s;
    }
    /* End of Container Mission */
    /* ================================== */
    /* Styling the footer */
    footer {
        background: #2CA343;
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    .company {
        width: 100%;
        margin: 0 auto;
    }
    .company img {
        width: 40%;
        display: block;
        margin-left: 27%;
    }
    .social a:nth-child(1) {
        margin-left: 25%;
    }
    .social a {
        color: #fff;
        display: inline-block;
        font-size: 1.em;
        padding-left: 4%;
        margin-bottom: 5%;
    }
    .company a:hover {
        color: #d35400;
        transition: none;
    }
    .company>p {
        text-align: left;
        line-height: .8em;
        width: 100%;
        margin-left: 10%;
    }
    .company>p:nth-child(1) {
        padding-top: 2%;
    }
    /* nav footer */
    .nav_footer {
        /* width: 45%;
       float: right;
       margin-top: 3%; */
        display: none;
    }
    .nav_footer {
        width: 45%;
        float: right;
        margin-top: 3%;
    }
    /* Subscribe Page */
    .form {
        background-image: url(../images/subscribeimage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 26%;
        z-index: -3000;
    }
    .form form {
        background: rgba(2, 105, 83, .5);
        width: 90%;
        padding-top: 2%;
        padding-bottom: 3%;
        margin: 13% auto 3% auto;
    }
    .form h1 {
        font-family: "Merriweather";
        padding-top: 6%;
        font-size: 1.7em;
        color: #fff;
        margin-bottom: 5%;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
    }
    .form input {
        margin: 1% auto;
        position: relative;
        display: flex;
        align-content: center;
        width: 90%;
        padding: 15px 10px;
        color: #000;
    }
     ::placeholder {
        color: #000;
        font-weight: bold;
    }
    .subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "lato";
        letter-spacing: 2px;
        width: 30%;
        font-size: 1em;
        font-weight: 700;
        color: #fff;
        width: auto;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 50px;
        text-transform: uppercase;
        background-color: #d35400;
    }
    .subscribe:hover {
        background-color: #026953;
        transition: all fade-in 1s;
    }
    /* End of Subscribe Page */
    /* ================================== */
    /* About CSS */
    .sliderabout {
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        background-image: url(../images/pexels-photo-1181408.jpeg);
        background-size: cover;
        background-position: center;
        background-position-y: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 16.6%;
        z-index: -9000;
    }
    .sliderabout>p {
        text-align: center;
        margin: 0 auto;
        font-family: "Merriweather";
        font-size: 1.5em;
        font-weight: 100;
        color: #fff;
        padding-top: 30%;
    }
    .staff h2 {
        font-size: 2.5em;
        font-weight: 100;
        color: #026953;
        font-family: "Merriweather";
        margin-top: 3%;
        margin-bottom: 1%;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.2em;
    }
    .abouta {
        background-image: url(../images/african-3382795_1920.jpg);
        float: left;
        width: 60%;
        z-index: 4000;
    }
    .about {
        background: rgb(160, 140, 115);
    }
    .about h2 {
        font-family: "Merriweather";
        text-align: center;
        color: #026953;
        font-size: 2.9em;
        padding-top: 13%;
        font-weight: 100;
        letter-spacing: 1px;
    }
    .about p {
        margin: 1% 5%;
        font-family: "lato";
        padding: 3% 10%;
        color: #000;
        width: 40%;
        text-align: justify;
        line-height: 1.6em;
        font-size: 1.3em;
        float: right;
    }
    /* About Plus section */
    #aboutP {
        width: 100%;
        background: #026953;
    }
    .groupP hr {
        border: .5px solid #fff;
        width: 30%;
        margin-top: 20px;
    }
    .leftP {
        display: block;
        height: 200px;
        width: 100%;
        background-image: url(../images/mountains-889131.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .rightP {
        display: block;
        width: 100%;
        height: 400px;
        background: #026953;
        color: #fff;
        overflow: scroll;
    }
    .groupP {
        padding: 3% 8%;
    }
    .groupP h2 {
        font-size: 1.5em;
        font-weight: 100;
        width: 100%;
        text-align: center;
        font-family: "Merriweather";
        letter-spacing: 1px;
        line-height: 1.2em;
    }
    .groupP p {
        font-size: .9em;
        text-align: justify;
        font-weight: 400;
        font-family: "lato";
        padding-top: 2%;
        letter-spacing: 1px;
    }
    /* Office location css for the about page */
    #offices {
        display: block;
        justify-content: space-around;
    }
    .locations {
        margin: 0 auto;
        width: 100%;
        padding-bottom: 2%;
    }
    .locations>h3 {
        margin-top: 6%;
        font-size: 1em;
        margin-bottom: 3%;
        text-transform: uppercase;
        text-align: center;
    }
    .locations>p {
        text-align: center;
        line-height: 1.2em;
        font-size: .8em;
    }
    .locations>a {
        text-decoration: none;
    }
    /* Caroussel Style for the about page */
    #caroussel {
        position: relative;
        height: 300px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }
    .carousel {
        margin: 10px auto;
        overflow: hidden;
        position: relative;
        width: 240px;
    }
    .slideAbout {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    .slideAbout .face {
        font-size: 9em;
        color: #026953;
        text-align: center;
    }
    .showing {
        opacity: 1;
        z-index: 2;
    }
    /* ==================================== */
    /* Take Action Page */
    #countdown {
        text-align: center;
        color: #fff;
        font-family: "lato";
        font-size: 1em;
        padding-top: 1%;
        background: #d35400;
        padding: 10px 10px;
        margin: 5% auto;
        width: 60%;
    }
    .slideract {
        position: relative;
        background-image: url(../images/african-3382795_1920.jpg);
        background-size: cover;
        height: 300px;
        margin-top: 16%;
        z-index: -4000;
    }
    .slideract>p {
        text-align: center;
        margin: 0 auto;
        font-family: "Merriweather";
        font-size: 2em;
        font-weight: 100;
        color: #fff;
        padding-top: 20%;
    }
    .container_action {
        width: 100%;
        height: auto;
        padding-top: 2%;
        margin-bottom: 3%;
    }
    .petition p,
    .petition img,
    .petition h3 {
        align-items: center;
        margin: auto 0%;
        text-align: justify;
        width: 80%;
    }
    .petition img {
        border: solid 1px #026953;
    }
    .petition p {
        padding-top: 5%;
        line-height: 1.5em;
    }
    .petition h3 {
        margin-top: 8%;
        font-size: 1.1em;
        letter-spacing: 1px;
        font-family: "Merriweather";
        color: #026953;
        text-align: center;
    }
    .takeaction>p {
        text-align: justify;
        margin: 6% 6%;
        font-size: 1em;
    }
    .slideract>h2 {
        font-family: "Merriweather";
        position: absolute;
        z-index: 3000;
        top: 0;
        right: 50;
        text-align: center;
        color: #026953;
        font-size: 1.9em;
        font-weight: 100;
        letter-spacing: 1px;
        margin-top: 3%;
    }
    .petition {
        width: 100%;
        margin: 0 10%;
    }
    .petition button {
        /* display: flex;
       justify-content: center;
       align-items: center; */
        text-align: center;
        font-family: "lato";
        letter-spacing: 1px;
        font-size: 1em;
        font-weight: 700;
        color: #fff;
        width: auto;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 12%;
        padding: 10px 10px;
        text-transform: uppercase;
        background-color: #d35400;
    }
    .petition button:hover {
        background-color: #026953;
        transition: all fade-in 1s;
    }
    /* End Take Action CSS */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
    /* ==================================== */
}


/* Small devices (portrait tablets and large phones, 600px and up) */